In [3]:
import sys
print(sys.executable)

c:\Users\devra\Desktop\Asteroid_detection\venv\Scripts\python.exe

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
df=pd.read_csv('../data/processed/dataset.csv')
print(df.head())
df.info()
df.describe()

C:\Users\devra\AppData\Local\Temp\ipykernel_20676\649322701.py:1: DtypeWarning: Columns (0: pdes, 1: name, 2: prefix) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../data/processed/dataset.csv')

         id    spkid       full_name pdes     name prefix neo pha     H  \
0  a0000001  2000001         1 Ceres    1    Ceres    NaN   N   N  3.40
1  a0000002  2000002        2 Pallas    2   Pallas    NaN   N   N  4.20
2  a0000003  2000003          3 Juno    3     Juno    NaN   N   N  5.33
3  a0000004  2000004         4 Vesta    4    Vesta    NaN   N   N  3.00
4  a0000005  2000005       5 Astraea    5  Astraea    NaN   N   N  6.90

   diameter  ...       sigma_i      sigma_om       sigma_w      sigma_ma  \
0   939.400  ...  4.608900e-09  6.168800e-08  6.624800e-08  7.820700e-09
1   545.000  ...  3.469400e-06  6.272400e-06  9.128200e-06  8.859100e-06
2   246.596  ...  3.223100e-06  1.664600e-05  1.772100e-05  8.110400e-06
3   525.400  ...  2.170600e-07  3.880800e-07  1.789300e-07  1.206800e-06
4   106.699  ...  2.740800e-06  2.894900e-05  2.984200e-05  8.303800e-06

       sigma_ad       sigma_n      sigma_tp     sigma_per  class      rms
0  1.111300e-11  1.196500e-12  3.782900e-08  9.415900e-09    MBA  0.43301
1  4.961300e-09  4.653600e-10  4.078700e-05  3.680700e-06    MBA  0.35936
2  4.363900e-09  4.413400e-10  3.528800e-05  3.107200e-06    MBA  0.33848
3  1.648600e-09  2.612500e-10  4.103700e-06  1.274900e-06    MBA  0.39980
4  4.729000e-09  5.522700e-10  3.474300e-05  3.490500e-06    MBA  0.52191

[5 rows x 45 columns]
<class 'pandas.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  str
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  str
 3   pdes            958524 non-null  object
 4   name            22064 non-null   str
 5   prefix          18 non-null      str
 6   neo             958520 non-null  str
 7   pha             938603 non-null  str
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  str
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  str
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  str
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(1), str(9)
memory usage: 329.1+ MB

,spkid,H,diameter,albedo,diameter_sigma,epoch,epoch_mjd,epoch_cal,e,a,...,sigma_q,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,rms
count,9.585240e+05,952261.000000,136209.000000,135103.000000,136081.000000,9.585240e+05,958524.000000,9.585240e+05,958524.000000,958524.000000,...,9.386020e+05,9.386020e+05,9.386020e+05,9.386020e+05,9.386020e+05,9.385980e+05,9.386020e+05,9.386020e+05,9.385980e+05,958522.000000
mean,3.810114e+06,16.906411,5.506429,0.130627,0.479184,2.458869e+06,58868.781950,2.019693e+07,0.156116,2.902143,...,1.982929e+01,1.168449e+00,5.310234e+00,1.370062e+06,1.369977e+06,2.131453e+01,5.060221e-02,4.312780e+08,8.525815e+04,0.561153
std,6.831541e+06,1.790405,9.425164,0.110323,0.782895,7.016716e+02,701.671573,1.930354e+04,0.092643,39.719503,...,2.903785e+03,1.282231e+02,1.333381e+03,9.158996e+08,9.158991e+08,7.197034e+03,9.814953e+00,2.953046e+11,2.767681e+07,2.745700
min,2.000001e+06,-1.100000,0.002500,0.001000,0.000500,2.425052e+06,25051.000000,1.927062e+07,0.000000,-14702.447872,...,1.956900e-11,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,0.000000
25%,2.239632e+06,16.100000,2.780000,0.053000,0.180000,2.459000e+06,59000.000000,2.020053e+07,0.092193,2.387835,...,1.462000e-07,6.095900e-06,3.619400e-05,5.755000e-05,2.573700e-05,2.340900e-08,2.768800e-09,1.110900e-04,1.794500e-05,0.518040
50%,2.479262e+06,16.900000,3.972000,0.079000,0.332000,2.459000e+06,59000.000000,2.020053e+07,0.145002,2.646969,...,2.271900e-07,8.688800e-06,6.642550e-05,1.047100e-04,4.900100e-05,4.359000e-08,4.638000e-09,2.230800e-04,3.501700e-05,0.566280
75%,3.752518e+06,17.714000,5.765000,0.190000,0.620000,2.459000e+06,59000.000000,2.020053e+07,0.200650,3.001932,...,6.583200e-07,1.591500e-05,1.609775e-04,3.114400e-04,1.718900e-04,1.196600e-07,1.124000e-08,8.139600e-04,9.775475e-05,0.613927
max,5.401723e+07,33.200000,939.400000,1.000000,140.000000,2.459000e+06,59000.000000,2.020053e+07,1.855356,33488.895955,...,1.015000e+06,5.533000e+04,1.199100e+06,8.845100e+11,8.845100e+11,5.509700e+06,7.698800e+03,2.853100e+14,1.910700e+10,2686.600000

In [6]:
print(df.dtypes)
df.select_dtypes(include=["object"]).head()

id                    str
spkid               int64
full_name             str
pdes               object
name                  str
prefix                str
neo                   str
pha                   str
H                 float64
diameter          float64
albedo            float64
diameter_sigma    float64
orbit_id              str
epoch             float64
epoch_mjd           int64
epoch_cal         float64
equinox               str
e                 float64
a                 float64
q                 float64
i                 float64
om                float64
w                 float64
ma                float64
ad                float64
n                 float64
tp                float64
tp_cal            float64
per               float64
per_y             float64
moid              float64
moid_ld           float64
sigma_e           float64
sigma_a           float64
sigma_q           float64
sigma_i           float64
sigma_om          float64
sigma_w           float64
sigma_ma          float64
sigma_ad          float64
sigma_n           float64
sigma_tp          float64
sigma_per         float64
class                 str
rms               float64
dtype: object

C:\Users\devra\AppData\Local\Temp\ipykernel_20676\1034663127.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  df.select_dtypes(include=["object"]).head()

,id,full_name,pdes,name,prefix,neo,pha,orbit_id,equinox,class
0,a0000001,1 Ceres,1,Ceres,NaN,N,N,JPL 47,J2000,MBA
1,a0000002,2 Pallas,2,Pallas,NaN,N,N,JPL 37,J2000,MBA
2,a0000003,3 Juno,3,Juno,NaN,N,N,JPL 112,J2000,MBA
3,a0000004,4 Vesta,4,Vesta,NaN,N,N,JPL 35,J2000,MBA
4,a0000005,5 Astraea,5,Astraea,NaN,N,N,JPL 114,J2000,MBA

In [7]:
df["epoch_cal"].head()

0    20190427.0
1    20200531.0
2    20200531.0
3    20190427.0
4    20200531.0
Name: epoch_cal, dtype: float64

In [8]:
df["pha"].value_counts()

pha
N    936537
Y      2066
Name: count, dtype: int64

In [9]:
# Drop ID columns
df.drop(columns=["id","spkid","full_name","pdes","name","orbit_id"], inplace=True)

# Convert categorical
cat_cols = ["prefix","neo","pha","class","equinox"]
df[cat_cols] = df[cat_cols].astype("category")

# Check missing values
print(df.isnull().sum())

prefix            958506
neo                    4
pha                19921
H                   6263
diameter          822315
albedo            823421
diameter_sigma    822443
epoch                  0
epoch_mjd              0
epoch_cal              0
equinox                0
e                      0
a                      0
q                      0
i                      0
om                     0
w                      0
ma                     1
ad                     4
n                      0
tp                     0
tp_cal                 0
per                    4
per_y                  1
moid               19921
moid_ld              127
sigma_e            19922
sigma_a            19922
sigma_q            19922
sigma_i            19922
sigma_om           19922
sigma_w            19922
sigma_ma           19922
sigma_ad           19926
sigma_n            19922
sigma_tp           19922
sigma_per          19926
class                  0
rms                    2
dtype: int64

In [10]:
df["epoch_cal"] = pd.to_datetime(df["epoch_cal"].astype(int), format="%Y%m%d")
print(df["epoch_cal"].head())

0   2019-04-27
1   2020-05-31
2   2020-05-31
3   2019-04-27
4   2020-05-31
Name: epoch_cal, dtype: datetime64[us]

In [11]:
df["epoch_year"] = df["epoch_cal"].dt.year
df["epoch_month"] = df["epoch_cal"].dt.month
df["epoch_day"] = df["epoch_cal"].dt.day
df.drop(columns=["epoch_cal"], inplace=True)

In [12]:
print(df["pha"].unique())
print(df["pha"].dtype)
print(df["pha"].isnull().sum())

['N', 'Y', NaN]
Categories (2, str): ['N', 'Y']
category
19921

In [13]:
df["pha"].unique()

['N', 'Y', NaN]
Categories (2, str): ['N', 'Y']

In [14]:
df["pha"] = df["pha"].astype(str).str.strip().str.upper()

In [15]:
df["pha"].value_counts(dropna=False)

pha
N      936537
NaN     19921
Y        2066
Name: count, dtype: int64

In [16]:
df["pha"] = df["pha"].map({"N":0, "Y":1})
df["pha"].value_counts()

pha
0.0    936537
1.0      2066
Name: count, dtype: int64

In [17]:
df.drop(columns=["prefix"], inplace=True)

In [18]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 40 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   neo             958520 non-null  category
 1   pha             938603 non-null  float64
 2   H               952261 non-null  float64
 3   diameter        136209 non-null  float64
 4   albedo          135103 non-null  float64
 5   diameter_sigma  136081 non-null  float64
 6   epoch           958524 non-null  float64
 7   epoch_mjd       958524 non-null  int64
 8   equinox         958524 non-null  category
 9   e               958524 non-null  float64
 10  a               958524 non-null  float64
 11  q               958524 non-null  float64
 12  i               958524 non-null  float64
 13  om              958524 non-null  float64
 14  w               958524 non-null  float64
 15  ma              958523 non-null  float64
 16  ad              958520 non-null  float64
 17  n               958524 non-null  float64
 18  tp              958524 non-null  float64
 19  tp_cal          958524 non-null  float64
 20  per             958520 non-null  float64
 21  per_y           958523 non-null  float64
 22  moid            938603 non-null  float64
 23  moid_ld         958397 non-null  float64
 24  sigma_e         938602 non-null  float64
 25  sigma_a         938602 non-null  float64
 26  sigma_q         938602 non-null  float64
 27  sigma_i         938602 non-null  float64
 28  sigma_om        938602 non-null  float64
 29  sigma_w         938602 non-null  float64
 30  sigma_ma        938602 non-null  float64
 31  sigma_ad        938598 non-null  float64
 32  sigma_n         938602 non-null  float64
 33  sigma_tp        938602 non-null  float64
 34  sigma_per       938598 non-null  float64
 35  class           958524 non-null  category
 36  rms             958522 non-null  float64
 37  epoch_year      958524 non-null  int32
 38  epoch_month     958524 non-null  int32
 39  epoch_day       958524 non-null  int32
dtypes: category(3), float64(33), int32(3), int64(1)
memory usage: 262.4 MB

In [19]:
size_cols = ["diameter","albedo","diameter_sigma"]

for col in size_cols:
    df[size_cols] = df[size_cols].fillna(df[size_cols].median())

In [20]:
df["neo"].fillna(df["neo"].mode()[0], inplace=True)

C:\Users\devra\AppData\Local\Temp\ipykernel_20676\4278028046.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["neo"].fillna(df["neo"].mode()[0], inplace=True)

0         N
1         N
2         N
3         N
4         N
         ..
958519    N
958520    N
958521    Y
958522    N
958523    N
Name: neo, Length: 958524, dtype: category
Categories (2, str): ['N', 'Y']

In [21]:
df.drop(columns=["epoch","epoch_mjd"], inplace=True)

In [22]:
df["neo"] = df["neo"].cat.codes
df["equinox"] = df["equinox"].cat.codes

In [23]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 38 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   neo             958524 non-null  int8
 1   pha             938603 non-null  float64
 2   H               952261 non-null  float64
 3   diameter        958524 non-null  float64
 4   albedo          958524 non-null  float64
 5   diameter_sigma  958524 non-null  float64
 6   equinox         958524 non-null  int8
 7   e               958524 non-null  float64
 8   a               958524 non-null  float64
 9   q               958524 non-null  float64
 10  i               958524 non-null  float64
 11  om              958524 non-null  float64
 12  w               958524 non-null  float64
 13  ma              958523 non-null  float64
 14  ad              958520 non-null  float64
 15  n               958524 non-null  float64
 16  tp              958524 non-null  float64
 17  tp_cal          958524 non-null  float64
 18  per             958520 non-null  float64
 19  per_y           958523 non-null  float64
 20  moid            938603 non-null  float64
 21  moid_ld         958397 non-null  float64
 22  sigma_e         938602 non-null  float64
 23  sigma_a         938602 non-null  float64
 24  sigma_q         938602 non-null  float64
 25  sigma_i         938602 non-null  float64
 26  sigma_om        938602 non-null  float64
 27  sigma_w         938602 non-null  float64
 28  sigma_ma        938602 non-null  float64
 29  sigma_ad        938598 non-null  float64
 30  sigma_n         938602 non-null  float64
 31  sigma_tp        938602 non-null  float64
 32  sigma_per       938598 non-null  float64
 33  class           958524 non-null  category
 34  rms             958522 non-null  float64
 35  epoch_year      958524 non-null  int32
 36  epoch_month     958524 non-null  int32
 37  epoch_day       958524 non-null  int32
dtypes: category(1), float64(32), int32(3), int8(2)
memory usage: 247.7 MB

In [26]:

df.isnull().sum()

neo                   0
pha               19921
H                  6263
diameter              0
albedo                0
diameter_sigma        0
equinox               0
e                     0
a                     0
q                     0
i                     0
om                    0
w                     0
ma                    1
ad                    4
n                     0
tp                    0
tp_cal                0
per                   4
per_y                 1
moid              19921
moid_ld             127
sigma_e           19922
sigma_a           19922
sigma_q           19922
sigma_i           19922
sigma_om          19922
sigma_w           19922
sigma_ma          19922
sigma_ad          19926
sigma_n           19922
sigma_tp          19922
sigma_per         19926
class                 0
rms                   2
epoch_year            0
epoch_month           0
epoch_day             0
dtype: int64

In [28]:
cols = ["pha", "H", "moid", "moid_ld", "ma", "ad", "per", "per_y", "rms"]

for col in cols:
    df[col] = df[col].fillna(df[col].median())

In [29]:
df.isnull().sum()

neo                   0
pha                   0
H                     0
diameter              0
albedo                0
diameter_sigma        0
equinox               0
e                     0
a                     0
q                     0
i                     0
om                    0
w                     0
ma                    0
ad                    0
n                     0
tp                    0
tp_cal                0
per                   0
per_y                 0
moid                  0
moid_ld               0
sigma_e           19922
sigma_a           19922
sigma_q           19922
sigma_i           19922
sigma_om          19922
sigma_w           19922
sigma_ma          19922
sigma_ad          19926
sigma_n           19922
sigma_tp          19922
sigma_per         19926
class                 0
rms                   0
epoch_year            0
epoch_month           0
epoch_day             0
dtype: int64

In [ ]:
sigma_cols = [col for col in df.columns if "sigma" in col]
df.drop(columns=sigma_cols, inplace=True)

AttributeError: 'function' object has no attribute 'sum'

In [33]:
df.isnull().sum().sum()

np.int64(0)

In [34]:
df["pha"].value_counts()

pha
0.0    956458
1.0      2066
Name: count, dtype: int64

In [35]:
df.corr(numeric_only=True)

,neo,pha,H,diameter,albedo,equinox,e,a,q,i,...,tp,tp_cal,per,per_y,moid,moid_ld,rms,epoch_year,epoch_month,epoch_day
neo,1.000000,0.297081,0.522472,-0.014015,-0.012937,NaN,0.485585,-0.000583,-0.108314,0.081313,...,-0.050459,-0.050618,-0.000276,-0.000276,-0.096639,-0.094353,0.002177,-0.115222,0.074484,-0.154987
pha,0.297081,1.000000,0.082403,-0.007062,0.003369,NaN,0.189248,-0.001322,-0.035519,0.033348,...,-0.003727,-0.003827,-0.000084,-0.000084,-0.030222,-0.029534,-0.001359,-0.009270,0.002976,-0.007148
H,0.522472,0.082403,1.000000,-0.225316,-0.219834,NaN,0.344292,-0.032187,-0.437270,-0.098187,...,-0.060612,-0.061012,-0.004488,-0.004488,-0.431708,-0.434980,0.005632,-0.161038,0.092554,-0.203823
diameter,-0.014015,-0.007062,-0.225316,1.000000,-0.038761,NaN,-0.022635,0.001934,0.029973,0.032368,...,0.004290,0.004344,-0.000014,-0.000014,0.030095,0.030690,-0.002198,0.021160,-0.003047,0.019249
albedo,-0.012937,0.003369,-0.219834,-0.038761,1.000000,NaN,-0.024226,-0.001826,-0.021399,-0.001383,...,0.016357,0.016334,-0.000258,-0.000258,-0.021581,-0.019560,-0.002981,0.033673,-0.008866,0.033010
equinox,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e,0.485585,0.189248,0.344292,-0.022635,-0.024226,NaN,1.000000,0.014725,-0.119463,0.128171,...,-0.053752,-0.054236,0.012072,0.012072,-0.108450,-0.107755,-0.004903,-0.099884,0.080543,-0.117825
a,-0.000583,-0.001322,-0.032187,0.001934,-0.001826,NaN,0.014725,1.000000,0.074253,0.025212,...,-0.006831,-0.006806,0.888618,0.888619,0.074203,0.073951,-0.000485,-0.004921,0.002011,-0.004551
q,-0.108314,-0.035519,-0.437270,0.029973,-0.021399,NaN,-0.119463,0.074253,1.000000,0.035545,...,-0.085415,-0.084993,0.005505,0.005505,0.998636,0.995077,-0.005382,-0.063529,0.005581,-0.019913
i,0.081313,0.033348,-0.098187,0.032368,-0.001383,NaN,0.128171,0.025212,0.035545,1.000000,...,-0.026836,-0.026464,0.026036,0.026036,0.044277,0.043563,-0.003629,-0.054847,-0.002436,-0.068565
om,0.006237,0.002349,0.000879,0.001321,0.002525,NaN,0.003173,-0.001993,-0.011010,-0.016534,...,-0.002639,-0.002700,-0.001423,-0.001423,-0.011067,-0.011057,-0.001784,-0.004277,-0.019732,-0.014363
w,0.000910,-0.000323,-0.003392,0.001413,-0.000275,NaN,0.008671,-0.001237,-0.002149,-0.003157,...,0.001063,0.001028,-0.001237,-0.001237,-0.002097,-0.002001,0.001460,-0.001522,0.003738,-0.001159
ma,-0.008268,0.001246,-0.033560,0.003070,0.010425,NaN,-0.025742,0.001673,-0.002259,0.004419,...,0.170628,0.164514,0.001830,0.001830,-0.002425,-0.003253,0.001619,0.002216,-0.011103,0.001913
ad,-0.001753,-0.000434,-0.024343,0.001208,-0.001487,NaN,0.025759,0.904901,0.053731,0.037841,...,-0.005087,-0.005074,0.983417,0.983417,0.053811,0.053641,-0.000412,-0.003768,0.007367,-0.005525
n,0.555627,0.170289,0.587186,-0.066718,0.051074,NaN,0.196245,-0.025440,-0.328325,-0.012026,...,-0.016598,-0.016682,-0.004601,-0.004601,-0.317761,-0.316056,0.004960,-0.054142,0.036755,-0.079933
tp,-0.050459,-0.003727,-0.060612,0.004290,0.016357,NaN,-0.053752,-0.006831,-0.085415,-0.026836,...,1.000000,0.998251,-0.000219,-0.000219,-0.086146,-0.085482,0.004053,0.449333,-0.117510,0.330468
tp_cal,-0.050618,-0.003827,-0.061012,0.004344,0.016334,NaN,-0.054236,-0.006806,-0.084993,-0.026464,...,0.998251,1.000000,-0.000223,-0.000223,-0.085721,-0.085053,0.003966,0.448904,-0.118696,0.330143
per,-0.000276,-0.000084,-0.004488,-0.000014,-0.000258,NaN,0.012072,0.888618,0.005505,0.026036,...,-0.000219,-0.000223,1.000000,1.000000,0.005545,0.005539,-0.000065,-0.000625,0.007253,-0.003240
per_y,-0.000276,-0.000084,-0.004488,-0.000014,-0.000258,NaN,0.012072,0.888619,0.005505,0.026036,...,-0.000219,-0.000223,1.000000,1.000000,0.005545,0.005539,-0.000065,-0.000625,0.007253,-0.003240
moid,-0.096639,-0.030222,-0.431708,0.030095,-0.021581,NaN,-0.108450,0.074203,0.998636,0.044277,...,-0.086146,-0.085721,0.005545,0.005545,1.000000,0.996607,-0.005367,-0.064950,0.006487,-0.022048
moid_ld,-0.094353,-0.029534,-0.434980,0.030690,-0.019560,NaN,-0.107755,0.073951,0.995077,0.043563,...,-0.085482,-0.085053,0.005539,0.005539,0.996607,1.000000,-0.004087,-0.063433,0.011551,-0.017414
rms,0.002177,-0.001359,0.005632,-0.002198,-0.002981,NaN,-0.004903,-0.000485,-0.005382,-0.003629,...,0.004053,0.003966,-0.000065,-0.000065,-0.005367,-0.004087,1.000000,0.007438,-0.001634,0.007525
epoch_year,-0.115222,-0.009270,-0.161038,0.021160,0.033673,NaN,-0.099884,-0.004921,-0.063529,-0.054847,...,0.449333,0.448904,-0.000625,-0.000625,-0.064950,-0.063433,0.007438,1.000000,-0.299944,0.719362
epoch_month,0.074484,0.002976,0.092554,-0.003047,-0.008866,NaN,0.080543,0.002011,0.005581,-0.002436,...,-0.117510,-0.118696,0.007253,0.007253,0.006487,0.011551,-0.001634,-0.299944,1.000000,-0.187490
epoch_day,-0.154987,-0.007148,-0.203823,0.019249,0.033010,NaN,-0.117825,-0.004551,-0.019913,-0.068565,...,0.330468,0.330143,-0.003240,-0.003240,-0.022048,-0.017414,0.007525,0.719362,-0.187490,1.000000

In [36]:
df["equinox"].describe()
df["equinox"].value_counts()
df["equinox"].nunique()

1

In [37]:
df.drop(columns=["equinox"], inplace=True)

In [40]:
df.duplicated().sum()

np.int64(0)

In [41]:
df.dtypes

neo                int8
pha             float64
H               float64
diameter        float64
albedo          float64
e               float64
a               float64
q               float64
i               float64
om              float64
w               float64
ma              float64
ad              float64
n               float64
tp              float64
tp_cal          float64
per             float64
per_y           float64
moid            float64
moid_ld         float64
class          category
rms             float64
epoch_year        int32
epoch_month       int32
epoch_day         int32
dtype: object

In [46]:
import os

os.makedirs('../data/cleaned', exist_ok=True)

In [47]:
df.to_csv('../data/cleaned/cleaned_dataset.csv', index=False)